@import 'styles/theme';

.board {
  &.container {
    background: $container;
    margin-left: 80%;
    margin-top: 10%;
    position: absolute;
    min-width: 210px;
    height: 85px;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   &.button{
    // margin: 20px;
    font-size: 20px;
    justify-content: center;
    width: 105px;
    height: 50px;
    margin-top: 5px;
    &.back{
      background-color: #c4c4c4;
    }
  }
  
  
}