@import 'styles/theme';

.board {
  &.container {
    background: $container;
    margin-left: 80%;
    margin-top: 10%;
    position: absolute;
    min-width: 210px;
    height: 85px;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
}