@import 'styles/theme';

.header {
  &.container {
    margin: 25px;
  }

  &.title {
    color: $textColor;
    text-align: left;
    font-size: 30px;
    padding-right: 250px;   
  }
  &.icons{
    text-align: right;
    font-size: 25px;
    position: absolute;
    right: 8px;
  }
}