@import 'styles/theme';

.userProfile {
  &.container {
    background: $container;
    // margin-right: 3%;
    width: 30%;
    height: 85%;
    min-height: 350px;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
    margin-left: 35%;
  }
  &.container-fields{
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin-top: 5%;
  }
  &.icons-edit {
    font-size: 25px;
    cursor: pointer;
    margin-top: 5%;
    margin-left: 80%;
  }
  &.icons-user {
    font-size: 50px;
    cursor: pointer;
  }
  &.container-text{
    font-size: 40px;
    align-self: center;
    margin-bottom: 1%;
    margin-top: 5%;
}
  
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.input-enabled {
    height: 40px;
    padding-left: 15px;
    margin-left: -4px;
    border-radius: $borderRadius;
    border: 0.5px solid #8d8d8d;
    background-color: $container;
    margin-bottom: 20px;
    // background: transparentize(grey, 0.85);
    color: $textColor;
  }
  &.input-disabled {
    height: 40px;
    padding-left: 15px;
    margin-left: -4px;
    border-radius: $borderRadius;
    border: 0.5px solid #8d8d8d;
    background-color: $container;
    margin-bottom: 20px;
    // background: transparentize(grey, 0.85);
    color: #8d8d8d;
  }
  &.label {
    color: $textColor;
    margin-bottom: 10px;
    text-transform: lowercase;
    font-size: 18px;
  }
  &.button-container {
    display: flex;
    justify-content: center;
    // margin-top: 2em;
    flex-direction: column;
    align-items: center;
  
  }

  &.button{
    margin: 20px;
    font-size: 25px;
    justify-content: center;
    &.back{
      background-color: #c4c4c4;
    }
  }
  
}