@import 'styles/theme';

.primary-button {
  &:hover {
    transform: translateY(-2px);
  }
  &:disabled {
    cursor: default;
    opacity: 0.4;
    &:hover {
      transform: none;
    }
  }
  margin: 30px;
  font-size: 25px;
  text-align: center;
  height: 57px;
  width: 225px;
  border: none;
  border-radius: $borderRadius;
  cursor: pointer;
  // opacity: 1;
  color: $textColor;
  background-color: $accent;
  transition: all 0.3s ease;
}
.eye {
  position: absolute;
  top: 314px;
  right: 28px;
  width: 50px;
  height: 40px;
  background-color: $container;
}